
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.anchura-mitad{
  max-width: 50%;
  min-width: 50%;
}
.altura-mitad{
  max-height: 50%;
  min-height: 50%;
}

.tarjeta-externa{
  background-color: rgb(228, 33, 33);

  padding: 10px;
  min-width: 440px;
  min-height: 240px;

  max-height: 240px;
  max-width: 440px;

  border-radius: 16px;
}
 
.tarjeta-interna{
  background-color: white;

  padding: 0;

  border-radius: 16px;
}